{
  "*.+(js|jsx|ts|tsx)": ["eslint --fix"],
  "*.+(js|jsx|ts|tsx|json|md|mdx)": ["prettier --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --check"],
  "**/*.{json,yml}": ["prettier --check"]
}
